<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>58</integer>
	<key>Time Stamp</key>
	<real>1637233707.1111588</real>
	<key>UUID</key>
	<string>1D2606FC-714B-4081-9F85-90F96513C592</string>
</dict>
</plist>
